# Build files
target/
*.jar

# Maven
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Others
HELP.md